### Java & Build Tools ###
target/
build/
*.class
*.war
*.ear
*.jar
*.zip
*.tar.gz
*.rar

### Maven ###
log/
.mvn/
mvnw
mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar

### Spring Boot ###
HELP.md
.apt_generated
.factorypath
.springBeans
.sts4-cache

### Banco de Dados ###
*.sql
*.log
.db_data/

### Configurações Sensíveis ###
application-local.properties
application-dev.properties
.env

### IDEs ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Eclipse / STS
.settings/
.project
.classpath
bin/

### Sistema Operacional ###
DS_Store
Thumbs.db